.cart-box {
    max-width: 1200px;
    margin: auto;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #e6a0ac;
    color: black;
    cursor: pointer;
}

#cart-items {
    line-height: 2;
}

@media (max-width: 768px) {

}

@media (max-width: 500px) {
    .cart-box {
        padding: 10px;
    }
}

